{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% block css %}
  {% endblock %}
</head>
<body>
  <li class="menu-text">What to Watch</li>
  <ul class="menu">
    {% if user.is_authenticated %}
    <li><a href="/api/profilePage/">{{ user.first_name }} {{ user.last_name }}</a></li>
    <li><a href="/api/home/">Homepage</a></li>
    <li><a href="/api/logout/">Logout</a></li>
    {% else %}
    <li><a href="/api/login/">Login</a></li>
    <li><a href="/api/signup/">Signup</a></li>
    {% endif %}
    {% block search %}
    {% endblock %}
  </ul>

  {% block content %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>
</html>
