{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
  {% block css %}
  {% endblock %}
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">What to Watch</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        {% if user.is_authenticated %}
        <li><a href="/profilePage/">{{ user.first_name }} {{ user.last_name }}</a></li>
        <li><a href="/home/">Homepage</a></li>
        <li><a href="/logout/">Logout</a></li>
        {% else %}
        <li><a href="/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% block content %}
  {% endblock %}

  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
