{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title}}</title>
  <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
  {% block css %}
  {% endblock %}
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">What to Watch</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        {% if user.is_authenticated %}
        <li><a href="/profile_page/">{{ user.username }}</a></li>
        <li><a href="/home/">Homepage</a></li>
        <li><a href="/logout/">Logout</a></li>
        {% else %}
        <li><a href="/login/">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% block content %}
  {% endblock %}
  <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
  <script src="{% static 'foundation/js/vendor/what-input.js' %}"></script>
  <script src="{% static 'foundation/js/vendor/foundation.min.js' %}"></script>
  <script>
  $(document).foundation();
  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
